@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  background-color: unset;
  border: none;
}

.font-10 {
  font-size: 10px;
}
@media screen and (max-width: 600px) {
  .font-10 {
    font-size: 7px;
  }
}

.font-12 {
  font-size: 12px;
}
@media screen and (max-width: 600px) {
  .font-12 {
    font-size: 10px;
  }
}

.font-14 {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .font-14 {
    font-size: 10px;
  }
}

.font-16 {
  font-size: 16px;
}
@media screen and (max-width: 1025px) {
  .font-16 {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .font-16 {
    font-size: 12px;
  }
}

.font-18 {
  font-size: 18px;
}
@media screen and (max-width: 1025px) {
  .font-18 {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .font-18 {
    font-size: 13px;
  }
}

.font-20 {
  font-size: 20px;
}
@media screen and (max-width: 1025px) {
  .font-20 {
    font-size: 17px;
  }
}
@media screen and (max-width: 600px) {
  .font-20 {
    font-size: 14px;
  }
}

.font-24 {
  font-size: 24px;
}
@media screen and (max-width: 1025px) {
  .font-24 {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .font-24 {
    font-size: 16px;
  }
}

.font-32 {
  font-size: 32px;
}
@media screen and (max-width: 1025px) {
  .font-32 {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  .font-32 {
    font-size: 22px;
  }
}

.font-36 {
  font-size: 36px;
}
@media screen and (max-width: 1025px) {
  .font-36 {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  .font-36 {
    font-size: 22px;
  }
}

.font-42 {
  font-size: 42px;
}
@media screen and (max-width: 1025px) {
  .font-42 {
    font-size: 34px;
  }
}
@media screen and (max-width: 600px) {
  .font-42 {
    font-size: 28px;
  }
}

.font-48 {
  font-size: 48px;
}
@media screen and (max-width: 1025px) {
  .font-48 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .font-48 {
    font-size: 33px;
  }
}

.vr {
  background-color: #604240;
  width: 1px;
  height: 100%;
}

.product-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #d9d9d9;
  width: 100%;
  padding-bottom: 40px;
}
.product-data .name {
  color: #604240;
}
.product-data .product-price .mrp {
  text-decoration: line-through;
  margin-right: 4px;
}
.product-data .product-price .base {
  color: #e96548;
}
.product-data .product-price .quantity {
  font-weight: 300;
}
.product-data .product-desc {
  color: #604240;
  margin-top: 18px;
}
.product-data .product-size {
  margin-top: 22px;
}
.product-data .product-size > .font-14 {
  color: #9f9f9f;
  margin-bottom: 12px;
  margin-top: 7px;
}
.product-data .product-size .size-buttons > * {
  padding: 5px 12px;
  border-radius: 5px;
  background-color: #faf4f4;
  color: #604240;
  text-transform: capitalize;
  margin-right: 16px;
}
.product-data .product-size .size-buttons > *.selected-size {
  background-color: #fff9e5;
}
.product-data .actions {
  display: flex;
  gap: 18px;
  margin-top: 20px;
}
.product-data .actions .counter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 123px;
  border-radius: 10px;
  border: 1px solid #9f9f9f;
  padding: 20px 15px;
}
.product-data .actions .favourite > img {
  width: 36px;
}

.additional-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.additional-data .additional-data-item {
  display: flex;
  color: #9f9f9f;
}
.additional-data .additional-data-item .info-label {
  width: 100px;
}
.additional-data .additional-data-item .sharing-icons {
  display: flex;
  gap: 16px;
}/*# sourceMappingURL=ProductData.css.map */