@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
  scroll-behavior: smooth;
}

button {
  cursor: pointer;
  background-color: unset;
  border: none;
}

.font-10 {
  font-size: 10px;
}
@media screen and (max-width: 600px) {
  .font-10 {
    font-size: 7px;
  }
}

.font-12 {
  font-size: 12px;
}
@media screen and (max-width: 600px) {
  .font-12 {
    font-size: 10px;
  }
}

.font-14 {
  font-size: 14px;
}
@media screen and (max-width: 600px) {
  .font-14 {
    font-size: 10px;
  }
}

.font-16 {
  font-size: 16px;
}
@media screen and (max-width: 1025px) {
  .font-16 {
    font-size: 14px;
  }
}
@media screen and (max-width: 600px) {
  .font-16 {
    font-size: 12px;
  }
}

.font-18 {
  font-size: 18px;
}
@media screen and (max-width: 1025px) {
  .font-18 {
    font-size: 16px;
  }
}
@media screen and (max-width: 600px) {
  .font-18 {
    font-size: 13px;
  }
}

.font-20 {
  font-size: 20px;
}
@media screen and (max-width: 1025px) {
  .font-20 {
    font-size: 17px;
  }
}
@media screen and (max-width: 600px) {
  .font-20 {
    font-size: 14px;
  }
}

.font-24 {
  font-size: 24px;
}
@media screen and (max-width: 1025px) {
  .font-24 {
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .font-24 {
    font-size: 16px;
  }
}

.font-32 {
  font-size: 32px;
}
@media screen and (max-width: 1025px) {
  .font-32 {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  .font-32 {
    font-size: 22px;
  }
}

.font-36 {
  font-size: 36px;
}
@media screen and (max-width: 1025px) {
  .font-36 {
    font-size: 28px;
  }
}
@media screen and (max-width: 600px) {
  .font-36 {
    font-size: 22px;
  }
}

.font-42 {
  font-size: 42px;
}
@media screen and (max-width: 1025px) {
  .font-42 {
    font-size: 34px;
  }
}
@media screen and (max-width: 600px) {
  .font-42 {
    font-size: 28px;
  }
}

.font-48 {
  font-size: 48px;
}
@media screen and (max-width: 1025px) {
  .font-48 {
    font-size: 40px;
  }
}
@media screen and (max-width: 600px) {
  .font-48 {
    font-size: 33px;
  }
}

.vr {
  background-color: #604240;
  width: 1px;
  height: 100%;
}

.product-images {
  display: flex;
  gap: 30px;
  height: 35vw;
}
.product-images .other-images {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  overflow-y: scroll;
  gap: 24px;
  padding-right: 4px;
}
.product-images .other-images::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}
.product-images .other-images::-webkit-scrollbar-thumb {
  background: #604240;
}
.product-images .other-images::-webkit-scrollbar-track {
  background: rgba(176, 176, 176, 0.3);
  margin: #604240;
}
.product-images .other-images .other-image {
  width: 80px;
  min-height: 80px;
  border-radius: 10px;
  overflow: hidden;
}
.product-images .other-images .other-image img {
  width: 80px;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-images .other-images .selected-image {
  filter: brightness(50%);
}
.product-images .primary-image {
  width: 30vw;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 940px) {
  .product-images {
    flex-direction: column-reverse;
    height: unset;
    width: 100%;
    gap: 14px;
  }
  .product-images .other-images {
    flex-direction: row;
    gap: 10px;
    padding: 0;
    padding-bottom: 4px;
    overflow: hidden;
    overflow-x: scroll;
  }
  .product-images .other-images .other-image {
    min-width: 80px;
    height: 72px;
  }
  .product-images .other-images .other-image img {
    width: 80px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .product-images .primary-image {
    position: relative;
    right: 32px;
    border-radius: 0;
    width: 100vw;
    height: 60vw;
  }
}/*# sourceMappingURL=ProductImages.css.map */